@model IEnumerable<Sales>
@{
    ViewData["Title"] = "Index";
}

@{
    // Retrieve _db from the ViewBag
    var _db = ViewBag.DbContext;
}

</br>

<h1 class="text-primary">Sales History</h1>
<br />
    <table class="table table-bordered table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Customer Contact Number </th>
                <th>Customer Address</th>
                <th>Product Name</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td style="width:40%">
                        @obj.CustomerName
                    </td>
                    <td style="width:10%">
                        @obj.ContactNumber
                    </td>
                    <td style="width:10%">
                        @obj.Address
                    </td>
                    <td style="width:10%">
                        @obj.ProductName
                    </td>
                <td style="width:10%">
                    @obj.Total
                </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Sales" asp-action="Delete" asp-route-salesid="@obj.Id"
                           class="btn btn-danger mx-2"><i class="bi bi-trash"></i> Delete</a>


                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
